    <!-- <div style="text-align:center">

      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
    </div> -->
    

<!-- <app-child [data]="data"></app-child> -->

<!-- <div style="text-align:center" id="test">
     <h3>Parent Component</h3>
<label for="data">Data to pass to child component:</label>
     <input type="text" [(ngModel)]="sendData" 
     placeholder="Enter data to pass to child component" />
     <button (click)="sendDataToChild()">Send Data to Child</button>
</div> -->
<!-- 

<h4>Child</h4>:: {{receiveValue}}

<router-outlet /> -->

<app-parent></app-parent>