    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Sr No
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone No
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of roleList; let srno = index">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phone}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


