<p>dashboard works!</p>

<div class="row">
  <div class="col-md-6">
    <div class="card text-white bg-primary mb-3">
      <div class="card-header">Users</div>
      <div class="card-body">
        <h5 class="card-title">{{ userCount$ | async }}</h5>
        <p class="card-text">Total registered users.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card text-white bg-success mb-3">
      <div class="card-header">Orders</div>
      <div class="card-body">
        <h5 class="card-title">{{ ordersCount$ | async }}</h5>
        <p class="card-text">Total orders placed.</p>

   <div>
      <button class="btn btn-light" (click)="refreshData()">Refresh Users</button>
    </div>     